        div.contenedor {
            height: 100%;
        }
        
        body {
            width: 100%;
            margin: 0;
            padding: 0;
            background-color:#EEEEEE;
        }
        
        paper-button.largo{
            width: 75%;
            margin-top:5px;
        }
        p.buttons{
            font-family: Arial, Helvetica, sans-serif;
            margin: 0;            
        }        
        
        .paper-toolbar-0 {
            background: royalblue;
            color: #ffffff;
        }
        
        paper-toolbar.des{
          background-color:white;
          color:#80CBC4;
        }
        
        div.style-scope.paper-header-panel{
          text-align:center;
        }
                
       