<link rel="import" href="../../bower_components/polymer/polymer.html">

<!--DEPENDENCIAS-->
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-material/paper-material.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-collapse/iron-collapse.html">



<dom-module id="carta-tiempo">

    <!--DOM-->
    <template>

        <!--ESTILOS-->
        <style is="custom-style">
            
            :host {
                font-family: Arial, Helvetica, sans-serif;                             
                height: 373px;
                width:80%;
                max-width: 640px;
                margin: 16px auto;
                background-color: #fff;
                display: block;
                position: relative;
            }
            
            paper-material div {
                border: 1px solid gray;
                text-align: left;
                padding-left: 15px;
            }
            
            
            div.cabezera{
                height: 210px;
            }
            span.ciudad{
                position: relative;
                top: 177px;
                font-size: 22px;                
            }
            div.contenido{
                height: 107px;
                text-align: left;
                padding-left: 13px;
            }
            div.pie{
                height: 39px;
                padding-top: 11px;
                padding-right: 11px;
            }        
            
            div.pie paper-icon-button{
                float: right;
                margin-top: -6px;
            }
            
            
        </style>

        <paper-material>
            
            <!--cabezera-->
            <div class="cabezera">
                <iron-image src={{miFoto}} preload sizing="cover"></iron-image>
                <span class="ciudad">{{miCiudad}}</span>
            </div>
            
            <!--cuerpo-->
            <div class="contenido card-content">
                <p>humedad: {{miHumedad}} temperatura: {{miTemperatura}}</p>
                <p> descripción: {{miDescripcion}}</p>
            </div>
            
            <!--pie-->
            <div class="pie">                
                <paper-icon-button icon="icons:info-outline"></paper-icon-button>                
            </div>
            
        </paper-material>

    </template>

    <!--SCRIPTS-->
    <script>
        Polymer({
           is:'carta-tiempo',
           properties: {
               
               miCiudad: {	   
                    type: String,
                    value: 'Ciudad',
                },
                
               miHumedad: {	   
                    type: String,
                    value: "x %",
                },
                
               miTemperatura: {	   
                    type: String,
                    value: 'x ºC',
                },
                
               miDescripcion: {	   
                    type: String,
                    value: 'es una ciudad',
                },
                
               miFoto: {	   
                    type: String,
                    value: 'elementos/carta-tiempo/fotos/a.png',
                },
                
           } 
       });
    </script>

</dom-module>